:root {
  --black: #0a0a0a;
  --richblack: #011627;
  --hotmag: #ff17e4;
  --cream: #f1f7ed;
  --yellow: #faa916;
  --secondyellow: #ff9f1c;
  --maroon: #b33951;
  --red: #eb5160;
  --grey: #f3f8f7;
  --blue: #042457;
  --opal: #f19190;
  --darkgrey: #888;
  --ghostwhite: #fdfffc;
  --space: 'Space Mono', monospace;
  --roboto: 'Roboto', sans-serif;
  --poppins: 'Poppins', sans-serif;
}

body {
  font-family: var(--roboto);
  margin: 0;
  padding: 0;
}

.App h1 {
  text-align: center;
  padding: 50px 0;
}
button:hover {
  cursor: pointer;
}

/* start of nav */
.nav-container {
  background-color: var(--cream);
}
.nav {
  max-width: 1200px;
  margin: 0 auto;
}
.nav ul {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}
img.user-img {
  display: flex;
  vertical-align: middle;
  border-radius: 50%;
  max-width: 50%;
}
.logoff-btn {
  display: flex;
  vertical-align: middle;
}

.logoff-btn button {
  border: none;
  background-color: var(--cream);
  color: var(--richblack);
  font-size: 20px;
  text-decoration: underline;
}
/* end of nav */

/* start of create task */
.input-and-btn {
  height: 150px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: var(--cream);
  border-radius: 10px;
}

.the-task {
  vertical-align: middle;
  width: 500px;
  height: 40px;
  font-size: 18px;
  border: 2px solid var(--blue);
  padding-left: 10px;
  border-radius: 5px;
  font-family: var(--roboto);
}

.add-btn {
  border-radius: 50%;
  border: none;
  color: var(--yellow);
  font-size: 38px;
  background-color: var(--secondblack);
}

.add-btn:hover {
  cursor: pointer;
}
/* end of create task */

/* start of render task */
.todo-container {
  max-width: 900px;
  margin: 0 auto;
}

.todos {
  display: flex;
  flex-direction: column;
  background-color: var(--grey);
  border-radius: 5px;
  color: #404040;
}

ul li {
  display: flex;
  column-gap: 30px;
  list-style-type: none;
  font-size: 20px;
  line-height: 2;
  padding-right: 20px;
}

div.task {
  margin: 0 auto;
  width: 700px;
}

input.done {
  margin-top: 10px;
  height: 20px;
  border-radius: 50%;
  appearance: none;
  background-color: #fafafa;
  border: 2px solid var(--yellow);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
}
input.done:active,
input.done:checked:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

input.done:checked {
  background-color: var(--yellow);
  border: 2px solid var(--secondyellow);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),
    inset 15px 10px -12px rgba(255, 255, 255, 0.1);
}

button.delete {
  color: var(--red);
  font-size: 24px;
  border-radius: 10px;
  border: none;
  background-color: var(--grey);
}

button.edit {
  color: var(--yellow);
  font-size: 24px;
  border-radius: 10px;
  border: none;
  background-color: var(--grey);
}

/* end of render task */

/* start of edit task */

.edit-task {
  display: flex;
  gap: 60px;
  margin: 0 auto;
  width: 700px;
  align-items: center;
  padding-right: 30px;
}

input.edit-input {
  width: 600px;
  font-size: 20px;
  line-height: 2;
}

button.save-btn {
  padding-top: 5px;
  border: none;
  font-size: 30px;
  background-color: var(--cream);
  color: var(--yellow);
}
/* end of edit task */

/* start of footer */
.footer-container {
  padding-top: 150px;
}

.footer {
  background-color: var(--cream);
  padding: 10px 0;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.footer p {
  margin: 0;
}
p span {
  color: var(--maroon);
  font-weight: bold;
  font-size: 16px;
}
/* end of fotter */
.login-intro {
  font-size: 24px;
}

.login-wrapper {
  display: grid;
  place-items: center;
  padding: 25px;
  padding: 25px;
  color: var(--darkgrey);
  background-color: var(--cream);
  width: 300px;
  border-radius: 10px;
  height: 150px;
  max-height: 100%;
}

.login-container {
  display: grid;
  place-items: center;
  height: 100vh;
}

.btn-wrapper {
  display: grid;
  place-content: center;
}

.btn-login {
  display: flex;
  font-size: 16px;
  align-items: center;
  color: var(--richblack);
  gap: 10px;
  padding: 10px 25px;
  border-radius: 10px;
}

.user {
  color: var(--maroon);
}
